<!--header start-->
      <header class="header white-bg">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

              <!--logo start-->
              <a href="index.html" class="logo" >RD<span> Test App</span></a>
              <!--logo end-->
              <div class="horizontal-menu navbar-collapse collapse ">
                  <ul class="nav navbar-nav">
                      <li class=""><a href="/contacts"><i class="fa fa-users"></i> Contacts</a></li>
                      <li><a href="/unknown"><i class="fa fa-ban"></i> Unknown people</a></li>
                  </ul>

              </div>
          </div>
      </header>
<!--header end-->